---

---

<a
  href="/"
  class="button text-white bg-gradient-to-r from-[#cbce1c] via-[#5e85da] to-[#3a2aca] shadow-inner shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),_inset_0_-2px_0_rgba(0,0,0,0.24)] rounded-lg px-4 py-2"
>
  Home
</a>
<a
  href="/projects/"
  class="button text-white bg-gradient-to-r from-[#cbce1c] via-[#5e85da] to-[#3a2aca] shadow-inner shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),_inset_0_-2px_0_rgba(0,0,0,0.24)] rounded-lg px-4 py-2"
>
  About
</a>
<a
  href="/blog/"
  class="button text-white bg-gradient-to-r from-[#cbce1c] via-[#5e85da] to-[#3a2aca] shadow-inner shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),_inset_0_-2px_0_rgba(0,0,0,0.24)] rounded-lg px-4 py-2"
>
  Blog
</a>
